.main{
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    top: 0;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    padding: 10px;
    width: auto;
    left: 0;    
}

.main > div {
    color: white;
}

.screenshot{
    width: auto;
    height: 70px;
    margin-right: 10px;
}